build-stamp                                                                                                                                                                                                                                                            
configure-stamp                                                                                                                                                                                                                                                        
debian/files
debian/lernstick-menu-xdg.debhelper.log
debian/lernstick-menu-xdg.substvars
debian/lernstick-menu-xdg/
