build-stamp
configure-stamp
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/lernstick-menu-xdg/
debian/lernstick-menu-xdg.debhelper.log
debian/lernstick-menu-xdg.postinst.debhelper
debian/lernstick-menu-xdg.postrm.debhelper
debian/lernstick-menu-xdg.prerm.debhelper
debian/lernstick-menu-xdg.substvars
