Source: lernstick-menu-xdg-exam
Section: admin
Priority: extra
Maintainer: Ronny Standtke <ronny.standtke@gmx.net>
Build-Depends: debhelper (>= 10), config-package-dev
Standards-Version: 3.7.3

Package: lernstick-menu-xdg-exam
Architecture: all
# Dependencies explained:
# - gettext-base:
#	for i18n in some shellscripts
# - gnome-backgrounds:
#	We use the file /usr/share/backgrounds/gnome/Wood.jpg for creating the
#	lock screen in /usr/bin/detect_virtualization.
# - imagemagick:
#	We use "convert" for creating screenshots in /usr/bin/lernstick_backup
#	and for creating the lock screen in /usr/bin/detect_virtualization.
# - kde-runtime:
#	We use kioclient to start desktop files in KDE Plasma.
# - libgtk-3-bin:
#	We use gtk-launch to start desktop files in all DEs besides KDE Plasma.
# - kdialog:
#	We use kdialog to show our dialogs in KDE Plasma.
# - zenity:
#	We use zenity to show our dialogs in all DEs exept KDE Plasma.
# - libglib2.0-bin:
#	We call gsettings to disable software upgrades.
# - mate-icon-theme-faenza:
#	We use icons from this package in kf5-games-board.directory and kf5-games-card.directory.
# - menu-xdg:
#	We are diverting /etc/xdg/menus/debian-menu.menu to disable the fscking Debian menu.
# - rdiff-backup:
#	used in /usr/bin/lernstick_backup.
# - systemd:
#	We use systemd-detect-virt in /usr/bin/detect_virtualization.
# - xdotool:
#	used for making our lock screen visible in /usr/bin/detect_virtualization
# - wmctrl:
#	used to keep our dialogs on top of other windows
#
# Note: Because we can't group the dependencies with parentheses we have to declare
# (kde-runtime & kdialog) | (libgtk-3-bin & zenity)
# in this very verbose way.
# Boolean algebra tells us that (A & B) | (C & D) = (A|C) & (A|D) & (B|C) & (B|D)
Depends: ${misc:Depends},
	gettext-base,
	gnome-backgrounds,
	imagemagick,
	kde-runtime | libgtk-3-bin,
	kde-runtime | zenity,
	kdialog | libgtk-3-bin,
	kdialog | zenity,
	libglib2.0-bin,
	mate-icon-theme-faenza,
	menu-xdg,
	rdiff-backup,
	systemd,
	wmctrl,
	xdotool
Provides: ${diverted-files}
Conflicts: ${diverted-files}
Description: Removes the Debian menu from the start menu
 The Debian menu is one of the worst ideas in Debian. Who on earth thinks
 that a second main level menu structure is something users understand?
 This package removes the Debian menu from the start menu.
 We also add some new desktop directories for educational programs and
 some autostart applications.
