Source: lernstick-menu-xdg-exam
Section: admin
Priority: extra
Maintainer: Lernstick Team <lernstick.ph@fhnw.ch>
Uploaders: Ronny Standtke <ronny.standtke@fhnw.ch>, Gaudenz Steinlin <gaudenz.steinlin@cirrax.com>
Build-Depends: debhelper (>= 10), config-package-dev
Standards-Version: 3.7.3

Package: lernstick-menu-xdg2-exam
Architecture: all
Depends: ${misc:Depends}, menu-xdg, kde-runtime | libgtk-3-bin, gettext, xterm, xdotool, imagemagick, systemd, kde-baseapps-bin, zenity, nuvola-icon-theme
Provides: ${diverted-files}
Conflicts: lernstick-menu-xdg-exam, ${diverted-files}
Breaks: lernstick-menu-xdg-exam
Description: Removes the Debian menu from the start menu
 The Debian menu is one of the worst ideas in Debian. Who on earth thinks
 that a second main level menu structure is something users understand?
 This package removes the Debian menu from the start menu.
 We also add some new desktop directories for educational programs and
 some autostart applications.
