[Unit]
Description=Final run of lernstick-backup

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/bin/true
ExecStop=/usr/bin/lernstick_backup once
TimeoutSec=infinity

[Install]
WantedBy=multi-user.target
